*{
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-image: url("img/background.png");
    background-size: cover;
    align-items: center;
}

.corpo{
    width: 450px;
    text-align: center;
    margin: 60px auto;
    color: white;
}

.logo {
    margin-bottom: 30px;
}

h1,h2 {
    font-family: 'Lato', sans-serif;
}

.corpo h3 {
    margin: 30px auto 10px auto;
}

.form {
    display: block;
}

.form .entrada {
    margin: 3px auto;
    padding-left: 10px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

.corpo .form label {
    font-size: 13px;
}

.corpo .form button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(88, 110, 235);
    color: white;
    font-size: 15px;
}

.corpo .form button:hover {
    background: rgb(46, 69, 201);
}